@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$green500: hsl(158, 36%, 37%);
$green700: hsl(158, 42%, 18%);
$black: hsl(212, 21%, 14%);
$grey: hsl(228, 12%, 48%);
$cream: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);
$font-montserrat: "Montserrat", sans-serif;
$font-fraunces: "Fraunces", serif;
$margin-top: 0.5em;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $cream;
    font-family: $font-montserrat;
    font-optical-sizing: auto;
    font-style: normal;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.main-container {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
}

// .left-container {
// }

#img-product-mobile {
    max-width: 100%;
    height: auto;
    display: block;
}

.right-container {
    background-color: $white;
    padding: 1rem;
}

.right-container {
    .perfume {
        color: $grey;
        letter-spacing: 0.3em;
    }
}

.right-container {
    > p {
        color: $grey;
        margin-top: $margin-top;
        margin-bottom: 1.7em;
        // font-size: 14px;
    }
}

.right-container {
    > h1 {
        font-family: $font-fraunces;
        font-weight: 700;
        margin-top: $margin-top;
    }
}

.promo-price {
    color: $green500;
    font-family: $font-fraunces;
    font-weight: 700;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 0.5em;
}

.usual-price {
    color: $grey;
    text-decoration: line-through;
    display: inline-block;
}

.add-item-btn {
    background-color: $green500;
    padding: 0.5em 8.5em;
    border-color: $green700;
    border-radius: 0.3em;
    margin-top: $margin-top;
    margin-bottom: $margin-top;
    border: 0;
    outline: 0;
}

.add-item-btn {
    span {
        color: $white;
        font-size: 1em;
    }
}